<section id="about" class="odd">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{ page.about-title }}</h1>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto aspernatur dignissimos et, fuga iste labore laborum odio quaerat quasi, quod recusandae repudiandae sed voluptas voluptatibus. Eos et eveniet qui? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi, autem consectetur consequuntur dignissimos eos fugit inventore modi nihil nostrum quae ut vel voluptatibus? Blanditiis dolore eos hic molestias pariatur?
                </p>
            </div>
        </div>
    </div>
</section>