<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <h1>Address</h1>
                <span>{{ site.address }}</span>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="map-container">
                    <iframe class="embed-responsive-item map" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJTZGkzBhO6IAR5tm1lgr67as&key=AIzaSyAsIsHT2AaxsildTqipwN_SbKmo5Q-S4fE" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <h1>Contact Details</h1>
                <b>Email:</b><a class="mail" href="mailto:{{ site.email }}"> {{ site.email }}</a>
                <br>
                <b>Phone:</b><span> {{ site.phone }}</span>
                <br>
                <ul class="list-inline">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>