<script src="{{ "js/jquery-3.1.1.js" }}"></script>
<script src="{{ "js/jquery.easing.min.js" }}"></script>
<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="js/jquery.elastislide.js"></script>
<script type="text/javascript" src="js/gallery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "js/bootstrap.js" }}"></script>

<script src="{{ "js/classie.js" }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ "js/gmb.js" }}"></script>
