<section id="map" class="dark-background 60vh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!--<div id="map"></div>-->
                <script>
                    function Location(name, description, price, lat, lng){
                        this.name = name;
                        this.description = description;
                        this.price = price;
                        this.lat = lat;
                        this.lng = lng;
                    }
                    function initMap() {
                        var locations = [];
                        {% for location in site.locations %}
                            var {{location.title | replace:' ','' | downcase}} = new Location("{{ location.title }}", "{{ location.desc }}", {{location.price}}, {{location.lat}}, {{location.lon}});
                            locations.push({{location.title | replace:' ','' | downcase}});
                        {% endfor %}

//                        var locations = [coast, anacappa, santaCruz, santaRosaNear, santaRosaFar, sanMiguel, sanNic];
                        var markers = [];
                        var content = [];
                        var infoWindows = [];

                        map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 8,
                            center: anacappa,
                            scrollwheel: false
                        });

                        var loc;

                        for (i = 0; i < locations.length; i++) {
                            loc = locations[i];

                            markers[i] = new google.maps.Marker({
                                position: new google.maps.LatLng(loc.lat, loc.lng),
                                map: map,
                                animation: google.maps.Animation.DROP,
                                title: loc.title
                            });

                            markers[i].index = i;

                            content[i] = "<div class='map-popup'><span class='map-popup-title'>"
                                + loc.name + "</span><br><p style='margin-top: 3px;'>"
                                + loc.description + "</p><b>Cost:</b><span> $"
                                + loc.price + "</span><br>" +
                                "</div>"

                            infoWindows[i] = new google.maps.InfoWindow({
                                content: content[i],
                                maxWidth: 300
                            });

                            google.maps.event.addListener(markers[i], 'click', function () {
                                for(j = 0; j < infoWindows.length; j++){
                                    infoWindows[j].close();
                                }
                                infoWindows[this.index].open(map, markers[this.index]);
                                map.panTo(markers[this.index].getPosition());
                            });
                        }

                        function toggleBounce() {
                            if (marker.getAnimation() !== null) {
                                marker.setAnimation(null);
                            } else {
                                marker.setAnimation(google.maps.Animation.BOUNCE);
                            }
                        }
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIB_VtfJfP7F9NEIeg9G0GaR2e_2WZg8s&callback=initMap">
                </script>
            </div>
        </div>
    </div>
</section>