<section id="picture-content" class="light-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{ page.picture-content-title }}</h1>
            </div>
        </div>
        {% for item in site.boats %}
            <div class="row picture-content-item">
                <div class="col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-10 col-xs-12">
                    <img src="{{ item.img }}" class="picture-content-img img-responsive centeredImage shadow">
                </div>
                <div class="col-lg-4 col-md-5 col-sm-offset-1 col-sm-10 col-xs-12">
                    <h2 class="allContentHeader">{{ item.name }}</h2>
                    <p class="statContent">{{ item.desc }}</p>
                    {{ item.content }}
                </div>
            </div>
        {% endfor %}
    </div>
</section>