/*<editor-fold desc="header">*/
/*full page header*/
header {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
}

/*centered and auto-cropped image header*/
header .image-background{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

.fullwidth {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*full sized carousel*/
header .carousel-inner > .item > img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

div.animatedHeader {
    height: 50px;
    width: 0px;
    overflow: hidden;
}

span.animatedHeaderContent {
    white-space: nowrap;
    top: 50px;
}

/*</editor-fold>*/

/*<editor-fold desc="section">*/
section {
    padding: 15px 25px 25px 30px;
}

section h1{
    font-family: "Cabin", Helvetica, Arial, sans-serif;
    font-variant: small-caps;
}

/*</editor-fold>*/

/*<editor-fold desc="navbar">*/
a#navLink {
    font-family: "Cabin", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

a:hover#navLink {
    font-size: 1.2em;
    color: #78a8ae;
}

#navTitle {
    color: white;
}

/*.navbar-header {*/
    /*color: white;*/
    /*background-color: #{{ site.color.menu-primary }};*/
/*}*/

/*button.navbar-toggle {*/
    /*color: white;*/
    /*background-color: #{{ site.color.menu-secondary }};*/
/*}*/

/*.navbar-collapse {*/
    /*background-color: #{{ site.color.menu-secondary }};*/
/*}*/

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 10px 0;
        color: white;
        background-color: transparent;
        border: none;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        display: block;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2.5em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        background-color: #{{ site.color.menu-primary }};
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 2em;
    }
}
/*</editor-fold>*/

.centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centeredText {
    display: block;
    text-align: center;
}

.shadow {
    box-shadow: 5px 5px 5px grey;
    -webkit-box-shadow: 5px 5px 5px grey;
    -moz-box-shadow: 5px 5px 5px grey;
}
