{% include css/bootstrap.css %}
{% include css/gmb.css %}

#map{
    width: 100%;
    height: 60vh;
    content: 'viewport-units-buggyfill; height: 60vh;';
    padding: 20px 0px;
    margin: 0px;
}

.map-popup {
    color: black;
}

.map-popup-title {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "{{ site.fonts.heading }}", Helvetica, Arial, sans-serif;
}

.navbar-brand {
    font-family: "Lobster Two", Helvetica, Arial, sans-serif;
}

.navbar{
    padding: 10px;
}

section#about {
    padding: 60px 20px 20px;
}

section#services{
    padding: 0px 20px 60px;
}

div.servicesHeader{
    position: absolute;
    left: 50px;
    bottom: 50px;
    height: 50px;
    border-bottom: white solid;
}

section.photocontent {
    padding: 0;
    margin: 0;
}

.picture-content-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.picture-content-img {
    max-height: 400px;
}

.photocontent-photo{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.photocontent-content {

    padding: auto 0 auto 0;
}

.photocontent-photo img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: auto;
}

span.servicesHeaderContent{
    font-family: "Lobster Two", Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 2em;
    color: white;
    vertical-align: baseline;
    text-align: center;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

button.book-button {
    font-family: "Cabin", Helvetica, Arial, sans-serif;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    color: white;
    /*border: solid #2b542c;*/
    margin-right: 10px;
}

.book-button.navbar-toggle {
    color: white;
}

#about p {
    font-size: 1.2em;
}

.dark-background {
    background-color: #{{ site.color.page-primary }};
    color: white;
}

.light-background {
    background-color: #{{site.color.page-secondary }};
}

.serviceContainer {
    display: block;
    margin: 10px;
}

.serviceIcon {
    width: 100px;
    height: 100px;
}

.serviceName {
    display: block;
    text-align: center;
    color: white;
    text-align: center;
    font-family: "Lobster Two", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0px
}

.serviceName:hover {
    color: white;
}

.service-popover {
    position:relative;
    display:inline-block;
}

.popover-title {
    font-weight: bold;
}

.popover-content {
    font-size: 1em;
}

.allContentHeader {
    font-size: 3em;
    font-family: 'Great Vibes', cursive;
    padding-bottom: 3px;
}

.statHeading {
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 0px;
}

.statContent {

}

.postContainer {
    padding-left: 100px;
    padding-right: 20px
}

.blog{
    display: block;
    padding: 0px;

}

.postTitle {
    font-size: 1.5em;
    font-family: "Lobster Two", Helvetica, Arial, sans-serif
}

.postContent {
    margin-left: 15px;
    font-size: 1.1em;
    font-family: 'Gochi Hand', cursive;
}

.posts-container{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    margin: 0px 0px;
    border-radius: 5px;
    background-color: #f9e9ab;
    color: #122b40;
    box-shadow: 5px 5px 5px black;
    -webkit-box-shadow: 5px 5px 5px black;
    -moz-box-shadow: 5px 5px 5px black;
}

.posts-container::-webkit-scrollbar {
    background-color: rgba(255,255,255,.2);
    border-radius:3px;
    width: 6px;
}
.posts-container::-webkit-scrollbar-thumb {
    background-color: #8e7b49;
    width: 10px;
    border-radius: 5px;
}

.map{
    display: block;
    padding: 15px 0px ;
    margin: 0px auto;
}

footer {
    padding: 20px;
    background-color: #{{ site.color.menu-secondary }};
    color: white;
    font-family: "Cabin", Helvetica, Arial, sans-serif;
}

footer h1 {
    font-variant: small-caps;
}
